# Data
data/
*.zip

# Models
# *.h5
# (Keep .tflite because it's small enough for the repo)

# Environment & Dependencies
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
Pipfile.lock

# OS files
.DS_Store